---
layout: default
overtitle: Hi, my name is erix and I'm a Brisbane based game developer. Known for creating trash games and exploratory digital spaces, I like to experiment and create small, weird things. In my spare time, I also organise and run a local game dev meetup called Squiggly River.
description: 
title: work
featured_image: /images/social.jpg
---

<div class="page-home">

	{% if site.data.settings.hero_settings.background_image %}
	<img src="{{ site.data.settings.hero_settings.background_image | relative_url }}" class="hero__background" draggable="false">
	{% endif %}

	<section class="hero">
		<div class="wrap">
			<div class="title">
				<p class="subtitle">
				<!-- {{ page.overtitle }} -->
				oh hi, my name is erix and i'm an occassional gamemaker. i like to create <a href="https://odd-hours.itch.io/" target="_blank">small, eclectic things</a> and i also  run a local game dev meetup called <a href="http://squigglyriver.com/">squiggly river</a>. <!--i make <a href="#games">games</a>, write <a href="#manifestos">manifestos</a>, and do <a href="#other">other stuff</a>.--> <mark>please enjoy.</mark>
				</p>
			</div>
		</div>
	</section>
	
	

	<section class="listing">

		<div class="section-titles">
			<h1 id="games">i make games,</h1>
		</div>

		<div class="project__grid">
			{% for project in site.projects reversed %}

			{% if project.accent_color %}{% capture accent_color %}{{ project.accent_color }}{% endcapture %}{% endif %}

			<div class="project__preview">
				<div class="project__images owl-carousel" style="border-color: {{ accent_color }}">
					{% for image in project.gallery_images %}
					<a href="{{ project.project_url }}"><img src="{{ '/images/projects/' | relative_url}}{{ image }}" alt="" class="project__image"></a>
					{% endfor %}
				</div>

				<h4 class="project__title"><a href="{{ project.project_url }}" style="color: {{ accent_color }}">{{ project.title }}</a></h4>

				<div class="project__content" style="border-color: {{ accent_color }}">
					<p class="project__subtitle subtitle--light">{{ project.subtitle }}</p>
					<p class="project__description --small">
						{{ project.description }}
					</p>
				</div>
			</div>

			{% endfor %}
		</div>

		<!--<div class="section-titles">
		<h1 id="manifestos">write manifestos</h1>

		<div class="project__grid">
			{% for manifestos in site.manifestos reversed %}

			{% if manifestos.accent_color %}{% capture accent_color %}{{ manifestos.accent_color }}{% endcapture %}{% endif %}

			<div class="project__preview">
				<div class="project__images owl-carousel" style="border-color: {{ accent_color }}">
					{% for image in manifestos.gallery_images %}
					<a href="{{ manifestos.project_url }}"><img src="{{ '/images/projects/' | relative_url}}{{ image }}" alt="" class="project__image"></a>
					{% endfor %}
				</div>

				<h4 class="project__title"><a href="{{ manifestos.project_url }}" style="color: {{ accent_color }}">{{ manifestos.title }}</a></h4>

				<div class="project__content" style="border-color: {{ accent_color }}">
					<p class="project__subtitle subtitle--light">{{ manifestos.subtitle }}</p>
				</div>
			</div>

			{% endfor %}
		</div>-->
	</section>

	<section class="listing other-stuff">
		<div class="wrap">
			<div class="title">
				<h1 id="manifestos">write manifestos,</h1>
				<ul>
					<li><strong><a href="https://odd-hours.itch.io/games-byfor-community" target="_blank">Games by/for Community</a></strong>: a manifesto for community, resistance and change.</em></li>
					
					<li><strong><a href="https://odd-hours.itch.io/design-with-dissent" target="_blank">Design with Dissent</a></strong>: a small, personal manifesto for my future work.</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="listing other-stuff">
		<div class="wrap">
			<div class="title">
				<h1 id="other">and do other stuff</h1>
				<h4>community work</h4>
				<ul>
					<li><strong>Organiser and Moderator of <a href="https://twitter.com/squigglyriver" target="_blank">Squiggly River</a></strong>: Brisbane game dev meetup.</em></li>
					<li><strong>Board member of <a href="https://twitter.com/makingspacecoop" target="_blank">Making Space</a></strong>: support organisation empowering minority and underrepresented people in games.</li>
				</ul>
				<br><br>
				<h4>talks</h4>
				<ul>
					<li><strong>How To Build A Games Community For Everyone Else</strong> (<a href="https://youtu.be/C4BB3YZxypY" target="_blank">Video</a>): Freeplay Independent Games Festival 2021</li>
					<li><strong>Micro Talk</strong> (<a href="https://youtu.be/bRbeIFsfkaI?t=28894" target="_blank">Video</a>): Freeplay Independent Games Festival 2018</li>
				</ul>
				<br><br>
				<h4>blogs</h4>
				<ul>
					<li><strong>Games to Write Home About</strong> (<a href="https://gamestowritehomeabout.tumblr.com/" target="_blank">Blog</a>): Short form analysis of interesting things in interesting games</li>
				</ul>
				<br><br>
				<h4>academic work</h4>
				<ul>
					<li><strong>The role of community in the work of alternative Australian gamemakers</strong> (<a href="https://digraa.org/wp-content/uploads/2023/01/2023-CAMERA-READY_Erika-Verkaaik.pdf" target="_blank">Conference paper</a>): an initial overview of my Masters research project, presented at <a href="https://digraa.org/post/category/digraa2023/" target="_blank">DiGRAA 2023</a>.</li>
				</ul>
			</div>
		</div>

	</section>
</div>