<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid-1-2">

    <div class="about__image">
      <img src="{{ '/images/pfp.jpg' | relative_url }}" alt="">
    </div>

    <div class="about__content">
      <p>hi, i'm Erix (they/them) and i make things under the handle odd-hours.</p>
      <p>i'm an award-winning gamemaker. i dabble in both digital and analogue games and like to make games about connection, exploration and discovery.</p>
      <p>i'm passionate about small, alternative games and the communities that make them. in my spare time, i organise and run a local game dev meetup called <a href="https://twitter.com/squigglyriver">Squiggly River</a>.</p>
      <p>get in contact via email: <a href="mailto:erikaverkaaik@gmail.com">erikaverkaaik@gmail.com</a> or find me elsewhere:</p>

      <div class="left-socials">
        {% include component-socials.html %}
      </div>
    </div>
  </div>

  <div class="wrap">
  {% include post-components/gallery.html
    columns = 3
    full_width = true
    images = "/images/about/niipa.jpg,/images/about/reliquary.gif,/images/about/axe.png,/images/about/craftingconsent.jpg,/images/about/tome.png,/images/about/beautiful.png,/images/about/alight.jpg,/images/about/temples.jpg,/images/about/alchemy.gif"
  %}
  
</div>
</section>
